{% extends "base.html" %}
{% load static %}
{% block content %}

{% for genero in Generos%}
<figure class="group">
  <div><a class="imgover" href="#"><img src="{}" alt=""></a></div>
    <figcaption>
      <p>{{ generos.nome }}</p>
      <li>{{ generos.descricao_1 }}</li>
      <li>{{ generos.descricao_2 }}</li>
      <li>{{ generos.descricao_3 }}</li>
      <li>{{ generos.descricao_4 }}</li>
      <li>{{ generos.descricao_5 }}</li>
      <li>{{ generos.descricao_6 }}</li>
      <li>{{ generos.descricao_7 }}</li>
      <footer></footer>
    </figcaption>
</figure>
{% endfor %}
        </div>
        <div class="clear"></div>
      </main>
    </div>
</body>

{% endblock %}